.main-wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 5px;
}

.block {
  text-align: center;
  padding: 20px;
}

.textarea {
  grid-column:1 / 8 ;
  border: 3px solid orange;
}

textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 200px;
  max-width: 100%;
  max-height: 450px;
}

.json-data {
  resize: vertical;
  font-family: 'source-code-pro', 'Courier New', monospace;
  font-size: 13px;
  line-height: 1.4;
}

.output {
  grid-column:1 / 8 ;
  border: 3px solid pink;
}

.generate{
  grid-column:1 / 8;
  border: 3px solid red;
}
